n8n/workflows/lead-status-monitoring.json
{
  "name": "Lead Status Monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://mock-api:3000/api/leads",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "get-leads",
      "name": "Get Leads from CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const qualifiedLeads = $json.body.filter(lead => lead.status === 'qualified' && !lead.notification_sent);\nreturn qualifiedLeads;"
      },
      "id": "filter-qualified",
      "name": "Filter Qualified Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-qualified",
      "name": "Check Qualified Leads",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://mock-api:3000/api/leads/{{ $json.id }}",
        "authentication": "none",
        "jsonBody": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "notification_sent",
              "value": "true"
            },
            {
              "name": "notes",
              "value": "Qualified lead notification sent on {{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "mark-notified",
      "name": "Mark as Notified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "mode": "internal"
      },
      "id": "no-qualified",
      "name": "No Qualified Leads",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Leads from CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads from CRM": {
      "main": [
        [
          {
            "node": "Filter Qualified Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Qualified Leads": {
      "main": [
        [
          {
            "node": "Check Qualified Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Qualified Leads": {
      "main": [
        [
          {
            "node": "Mark as Notified",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "outputs": {
        "false": [
          [
            {
              "node": "No Qualified Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "pinData": {},
  "versionId": "1"
}
