n8n/workflows/wordpress-lead-processing.json
{
  "name": "WordPress Lead Processing",
  "nodes": [
    {
      "parameters": {
        "path": "wordpress-lead",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "webhook-node",
      "name": "WordPress Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.email }}",
              "rightValue": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-email",
      "name": "Validate Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "^[\\d\\s\\-\\(\\)\\+]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-phone",
      "name": "Validate Phone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nlet leadScore = 5;\nif ($json.name && $json.name.length > 5) leadScore += 2;\nif ($json.message && $json.message.length > 10) leadScore += 3;\n\nreturn {\n  ...$json,\n  source: 'website',\n  enriched_timestamp: now.toISOString(),\n  lead_score: leadScore,\n  status: 'new'\n};"
      },
      "id": "enrich-data",
      "name": "Enrich Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mock-api:3000/api/leads",
        "authentication": "none",
        "jsonBody": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source }}"
            },
            {
              "name": "lead_score",
              "value": "={{ $json.lead_score }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            }
          ]
        }
      },
      "id": "create-lead",
      "name": "Create CRM Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "statusCode": 200
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "statusCode": 400
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "WordPress Webhook": {
      "main": [
        [
          {
            "node": "Validate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email": {
      "main": [
        [
          {
            "node": "Validate Phone",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "outputs": {
        "false": [
          [
            {
              "node": "Error Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "Validate Phone": {
      "main": [
        [
          {
            "node": "Enrich Data",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "outputs": {
        "false": [
          [
            {
              "node": "Error Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "Enrich Data": {
      "main": [
        [
          {
            "node": "Create CRM Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CRM Lead": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "versionId": "1"
}